<div class="row">
    <div class="col-md-4 mb-3">
        <label class="location_id"><span class="text-danger">*</span> Location</label>
        <select class="form-control" id="location_id">
            <option value="">Select</option>
            {% for l in locations %}
            <option value="{{ l.id }}">{{ l.location_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4 mb-3">
        <label class="designation_id"><span class="text-danger">*</span> Designation</label>
        <select class="form-control" id="designation_id">
            <option value="">Select</option>
            {% for d in designations %}
            <option value="{{ d.designation_id }}">{{ d.designation_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4 mb-3">
        <label class="department_id"><span class="text-danger">*</span> Department</label>
        <select class="form-control" id="department_id">
            <option value="">Select</option>
            {% for dept in departments %}
            <option value="{{ dept.id }}">{{ dept.department_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4 mb-3">
        <label class="joining_date"><span class="text-danger">*</span> Date of Joining</label>
        <input type="date" id="joining_date" class="form-control">
    </div>

    <div class="col-md-4 mb-3">
        <label>Date of Releaving</label>
        <input type="date" id="releaving_date" class="form-control">
    </div>

    <div class="col-md-4 mb-3">
        <label>Previous Experience</label>
        <input type="number" id="experience" class="form-control" step="0.1">
    </div>

    <div class="col-md-4 mb-3">
        <label>Rate Per Hour</label>
        <input type="number" id="rate_per_hour" class="form-control" step="0.01">
    </div>

    <div class="col-md-4 mb-3">
        <label>Rate Per Day</label>
        <input type="number" id="rate_per_day" class="form-control" step="0.01">
    </div>

    <div class="col-md-4 mb-3">
        <label>Pay Frequency</label>
        <select class="form-control" id="pay_frequency_id">
            <option value="">Select</option>
            {% for pf in pay_frequencies %}
            <option value="{{ pf.list_type_value_id }}">{{ pf.list_value }}</option>
            {% endfor %}
        </select>
    </div>
</div>
