/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}


/*---------------------------------------------*/

a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #fff;
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input:-moz-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

textarea::-webkit-input-placeholder {
    color: #fff;
}

textarea:-moz-placeholder {
    color: #fff;
}

textarea::-moz-placeholder {
    color: #fff;
}

textarea:-ms-input-placeholder {
    color: #fff;
}

label {
    margin: 0;
    display: block;
}


/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(255,255,255,0.9); */
    /* background-color: rgba(56, 56, 56, 0.9); */
    /*   background-color: rgba(66, 66, 66, 0.9); */
}

.wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 55px 37px 55px;
    background: #fff;
    /*box-shadow: 2px 9px 8px #000000;
	 background: #042b4e; 
	background: #9152f8;
	 background: linear-gradient(to right,#2d8798,#eac6a8) !important;
	background: -webkit-linear-gradient(top, #7579ff, #b224ef);
	background: -o-linear-gradient(top, #7579ff, #b224ef);
	background: -moz-linear-gradient(top, #7579ff, #b224ef);
	background: linear-gradient(top, #7579ff, #b224ef);
	*/
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-logo {
    font-size: 60px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    /* border-radius: 50%;
  background-color: #fff; */
    margin: 0 auto;
}

.login100-form-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #000;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    height: 59px;
}

.input100 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 42px;
    color: #000;
    padding-left: 20px;
    background: #5445450d!important;
    /* padding: 0 5px 0 38px; */
    /* color: #000; */
    border: none;
    border-radius: 4px;
    border-left: 2px solid #00004a;
}


.input100:focus {
    color: #000;
    background: #6660601a!important;
    border-left: 2px solid #fe7329!important;
}


@media (max-width: 576px) {
    .wrap-login100-new {
        float: left;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .wrap-login100-new {
        float: left;
        width: 100%;
    }
    .wrap-login100-new.img {
        float: left;
        width: 300px;
    }
}


/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #fff;
}

.focus-input100::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #fff;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

input.newlogin::placeholder {
    color: #adb0b3;
}

.input100:focus+.focus-input100::after {
    top: -22px;
    font-size: 18px;
}


/* .input100:focus + .focus-input100::before {
  width: 100%;
} */

.has-val.input100+.focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.has-val.input100+.focus-input100::before {
    width: 100%;
}

.has-val.input100 {
    padding-left: 5px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 35px;
}

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox100::before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
    color: #555555;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.login-list li {
    float: left;
    width: 100%;
    text-align: left;
    margin-left: 40px;
    padding: 5px 0px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #008b9d;
}

ul.login-list li i {
    padding-right: 8px;
    color: #008b9d;
    border-radius: 5px;
}

.login100-form-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    /* border-radius: 5px;   */
    background: #00004a;
    /* background: -webkit-linear-gradient(bottom, #4e929b, #e4c4a8); */
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: #fff !important;
    background: #00004a;
    /* background: -webkit-linear-gradient(bottom, #272d73, #626ac7);*/
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover:before {
    background: #fe7329;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 55px 15px 37px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #00004a;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
    color: #00004a;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #00004a;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.wrap-login100 {
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 40px 35px 40px;
    background: #fff;
    /* float: right; */
    /* background: #000000b8; */
    /* margin-top: 140px; */
    position: relative;
    /* left: 410px; */
    top: 19%;
    margin: 0 auto;
}

.crm-image img {
    height: 350px;
    text-align: center;
    width: 500px;
}

.crm-image span {
    font-size: 30px;
    color: #008b9d;
    font-weight: 600;
}

.crm-image p {
    color: #fff;
    font-size: 17px;
    text-align: left;
    font-family: "roboto", sans-serif;
    margin-left: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group.col-md-6.pro-img {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.pwd-customer {
    float: left;
    width: 100%;
}


/* .wrap-login100-new {
    float: right;
	margin-right: 40px;
} */

@media (max-width: 400px) {
    .wrap-login100-new {
        float: left;
        top: 0px;
        margin: 0px;
    }
}

.contct-page-new {
    text-align: center;
    width: 100%;
}

.second-sub-header {
    display: none;
}

.leftside-login {
    height: 100vh !important;
    background: #ddd;
    background: linear-gradient(45deg, #006eab, #d9f1ff);
}

span.welcome-login {
    position: absolute;
    top: 27%;
    font-size: 47px;
    left: 25%;
    color: #fff;
    font-weight: 400 !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 15px 0px;
}

span.welcome-login-content {
    position: absolute;
    top: 46%;
    font-size: 17px;
    text-align: center;
    left: 8%;
    padding: 0px 20px;
    color: #fff;
    font-weight: 400 !important;
}

span.copy-right {
    position: fixed;
    bottom: 15px;
    padding: 0px 6px 0px 60px;
}

@media (max-width: 1024px) {
    .leftside-login {
    display: none;
	}
.rightsidelogin {
    width: 100%;
    display: contents;
}
}