{% extends "backend/base/base.html" %}

{% block title %}Home | My Website{% endblock %}

{% block content %}
    {% load static %}

            <div class="content"><!-- Content start-->
                <div class="card"><!-- Card start-->
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-6">
                              <h3>
                                <b>
                                    Dashboard
                                </b>
                            </h3>
                    </div>
                </div>
            </div>
        
{% endblock %}
