{% extends "backend/base/base.html" %}

{% block title %}{{page_title}} | My Website{% endblock %}

{% block content %}
    {% load static %}
      <!-- Page header start-->
      <div class="second-sub-header">
        <div class="page-header page-header-light">
          <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
              <div class="breadcrumb">
                <a href="" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">
                  Settings
                </span>
              </div>
              <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Page header end-->

      <div class="content"><!-- Content start-->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box2"style="border-radius:2px;">

              <h4 class="page-title page-title-dashboard"> Setups </h4>
            </div>
          </div>
        </div>

        <div class="settings">
          <div class="row">
            <div class="col-md-6" >
                <div class="card-setting">
                    <ul class="settings-list">
                        <a href="{% url 'country-list' %}" title="Country">
                            <li>
                                <i class="fa fa-globe fa-icon-text-orange-background"></i>
                                <span class="list-one">Country</span>
                                <p>Manage all country.</p>
                            </li>
                        </a>

                        <a href="{% url 'state-list' %}" title="State">
                            <li>
                                <i class="fa fa-compass fa-icon-text-green-background"></i>
                                <span class="list-one">State</span>
                                <p>Manage all state.</p>
                            </li>
                        </a>

                        <a href="{% url 'city-list' %}" title="City">
                            <li>
                                <i class="fa fa-map-signs fa-icon-text-blue-background"></i>
                                <span class="list-one">City</span>
                                <p>Manage all city.</p>
                            </li>
                        </a>
                        <a href="{% url 'location-list' %}" title="Location">
                            <li>
                                <i class="fa fa-map-marker fa-icon-text-aqua-background"></i>
                                <span class="list-one">Location</span>
                                <p>Manage all location.</p>
                            </li>
                        </a>
                    
                        <a href="{% url 'blood-group-list' %}" title="Blood Group">
                            <li>
                                <i class="fa fa-bolt fa-icon-text-gray-background"></i>
                                <span class="list-one">Blood Group</span>
                                <p>Manage all blood group.</p>
                            </li>
                        </a>

                       

                        
                    </ul>
                </div>

            </div>

            <div class="col-md-6">
              <div class="card-setting">
                <ul class="settings-list">
                    <a href="{% url 'designation-form' %}" title="Designation">
                            <li>
                                <i class="fa fa-briefcase fa-icon-text-blue-background"></i>
                                <span class="list-one">Designation</span>
                                <p>Manage all Designation.</p>
                            </li>
                        </a>

                        <a href="{% url 'roles-list' %}" title="Roles">
                            <li>
                                <i class="fa fa-user fa-icon-text-orange-background"></i>
                                <span class="list-one">Roles</span>
                                <p>Manage all Roles.</p>
                            </li>
                        </a>
                    <a href="{% url 'lov-form' %}" title="Lov">
                        <li>
                            <i class="fa fa-magic fa-icon-text-red-background"></i>
                            <span class="list-one">Lov</span>
                            <p>Manage all Lov.</p>
                        </li>
                    </a>

                    <a href="{% url 'department-list' %}" title="Department">
                        <li>
                            <i class="fa fa-level-up fa-icon-text-pink-background"></i>
                            <span class="list-one">Department</span>
                            <p>Manage all Department.</p>
                        </li>
                    </a>

                    
                </ul>
              </div>

              <!-- Printer settings -->

              <!-- Printer settings end -->
            </div>
          </div>
        </div>
      </div><!-- Content end-->

    {% endblock %}
